package notfound

templ renderContent() {
<div class="flex h-full w-full justify-center">
  <div class="card w-96 shadow-xl">
    <figure>
      <img src="/static/img/404.svg" alt="404 Page not found" />
    </figure>
    <div class="card-body">
      <h1 class="card-title">404 Page not found!</h1>
    </div>
  </div>
</div>
}
